@CHARSET "ISO-8859-1";
@font-face {
    font-family: Renogare;
    src: url(../fonts/Renogare.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Roboto-Light;
    src: url(../fonts/Roboto-Light.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Roboto-Thin;
    src: url(../fonts/Roboto-Thin.ttf);
    font-weight: bold;
}
