input, textarea {
  z-index: 9;
  color: #eee;
  font-size: 1em;
  font-family: Roboto-Light, helvetica;
  border-style: inset;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  width: 360px;
  letter-spacing: 1px;
  padding: 6px 0px;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: Roboto-Light, helvetica;
  color: #efefef;
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-family: Roboto-Light, helvetica;
  color: #efefef;
}

:-ms-input-placeholder {
  /* IE 10+ */
  font-family: Roboto-Light, helvetica;
  color: #efefef;
}

:-moz-placeholder {
  /* Firefox 18- */
  font-family: Roboto-Light, helvetica;
  color: #efefef;
}

input:hover, textarea:hover {
  background-color: #555555;
}

p, .field, #form-messages {
  /*	margin-left: 28%;*/
  width: 360px;
  font-size: 1.2em;
  letter-spacing: 8px;
}

/* SOCIAL NETWORKS */

#contactMenu {
  font-family: Roboto-Light, helvetica;
  height: 20px;
  color: #f2f2f2;
  position: fixed;
  z-index: 8;
  bottom: 0;
  width: 100%;
  text-align: right;
  font-size: 1.1em;
  padding: 0px 0px 15px 0px;
  letter-spacing: 2px;
}

#contactMenu ul {
  padding: 0 35px;
}

#contactMenu li {
  display: inline-block;
  position: relative;
}

#contactMenu li a {
  display: block;
  margin: 0 20px 0 0;
  color: #888;
}

#contactMenu li a:hover {
  color: #fff;
}
